# Dependencies
/node_modules
.pnp
.pnp.js

# Next.js Build Output
/.next/
/out/

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating system files
.DS_Store